@font-face {
  font-family: Outfit;
  src: url(font/static/Outfit-Regular.ttf);
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  min-height: 100vh;
}



.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  height: 480px;
}

img {
  width: 300px;
  border-radius: 10px;
}

.heading {
  color: hsl(218, 44%, 22%);
  font-family: outfit;
  font-weight: 700;
  font-size: 23px;
}

.paragraph {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-family: outfit;
  font-weight: 400;
}

@media only screen and (max-width: 760px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }

  .container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    height: 480px;
  }
  
  img {
    width: 300px;
    border-radius: 10px;
  }
  
  .heading {
    color: hsl(218, 44%, 22%);
    font-family: outfit;
    font-weight: 700;
    font-size: 23px;
  }
  
  .paragraph {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: outfit;
    font-weight: 400;
  }
  
}
